.app-container {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-component{
    padding: 10px;
    padding-left: 90px;
}

.loggin-group{
    display: flex;
    ;
}

.loggin-component{
    width: 500px;
    min-width: 400px;
    max-width: 600px;
    padding-left: 100px;
    padding-top: 100px;
}

.img-element{
    width: 100px;
max-width: 100px;
min-width: 100px;
}

.img-element img{
    width: 500px;
    border-radius: 100px;
}
