h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-shadow: none;
  margin-right: auto;
  padding-left: 15px;
}

.navbar-expand-lg .navbar-collapse {
  flex-basis: none;
  justify-content: end;
}

.navBg {
  background-color: var(--white);
}

.navbar-link{
  display: flex;
  font-size: 20px;
  margin-right: 50px;
}

.nav-link{
  justify-content: center;
}

.container-fluid {
  justify-content: end !important;
}

.dark-focus {
  font-weight: 700;
}

.navbar-link:hover{
  color: var(--dark);
  opacity: 0.7;
  border-radius: 15px;
}

button {
  border-style: none !important;
  box-shadow: none !important;
}

button:paused {
  border-style: none !important;
  box-shadow: none !important;
}

.boton{
  margin-top: 5px;
  margin-left: 10px;
}

@media (max-width: 992px) {
  .navbar-nav .nav-link {
    margin-right: auto; /* Ajusta el valor según tu preferencia */
  }
}